/*@keyframes identifier {
    loarding {
        0% {opacity: 0;}
        25%{opacity: 0.25};
        50%{opacity: 0.5}
        75%{opacity: 0.75}
        100% {opacity: 1}
    }    
}*/
.Body {
    background-color: #000;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
.DivImage {
    display: flex;
    justify-content: center;
}
.DivGroup {
    display: grid;
    grid-template-columns: auto 20%;
    align-items: center;
    justify-content: center;
}
.Container {
    display: grid;
    grid-template-rows: 50% 5% 20%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Img {
    border-radius: 60px;
    box-shadow: 0px 0px 40px white;
    border-color: blue;
    border: solid;
}
.Input {
    border-radius: 5px;
    font-size: 0.9em;
    border-color: gainsboro;
    border-style: solid;
    padding: 0.3em;
}
.Input:focus {
    outline: 0px;
}
.Button {
    font-size: 1.0em;
    background-color: blue;
    border: solid;
    border-color: transparent;
    border-radius: 5px;
    padding: 0.7vh;
    color: white;
}
.Button:hover{
    border-color: white;
}
.Button:active{
    opacity: 0.5;
}
.Button:focus{
    outline: 0px;
}
.H3 {
    text-align: center;
    animation: 2s linear 1s infinite alternate;
}